@font-face {
	font-family: Comfortaa;
	src: url(Resources/Comfortaa/static/Comfortaa-Light.ttf);
	font-weight: 300;
}
@font-face {
	font-family: Comfortaa;
	src: url(Resources/Comfortaa/static/Comfortaa-Regular.ttf);
	font-weight: 400;
}
@font-face {
	font-family: Comfortaa;
	src: url(Resources/Comfortaa/static/Comfortaa-Medium.ttf);
	font-weight: 500;
}
@font-face {
	font-family: Comfortaa;
	src: url(Resources/Comfortaa/static/Comfortaa-SemiBold.ttf);
	font-weight: 600;
}
@font-face {
	font-family: Comfortaa;
	src: url(Resources/Comfortaa/static/Comfortaa-Bold.ttf);
	font-weight: 700;
}

.no-transition {
	transition: none !important;
}

:root {
	--color-dark: #131516;
	--color-neutral: #55505C;
	--color-light: #F3F7F7;
	--color-red: #CE6964;
	--color-green: #63845d;
	--color-blue: #7c94ff;
}
* {
	font-family: inherit;
}
body {
	font-family: Comfortaa, sans-serif, Arial;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	font-weight: 600;
}
h2 {
	font-weight: 500;
}
sub {
	font-weight: 300;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
	appearance: textfield;
}